@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

@section Notifications {
    <partial name="_AlertPartial"></partial>
}

<div class="row pb-3">
    <div class="col-6 d-flex align-items-center">
        <h3>All Products</h3>
    </div>

    <div class="col-6 text-end">
        <a asp-controller="Product" asp-action="UpSert" class="btn btn-dark"><i class="bi bi-plus-circle"></i> Create New Product</a>
    </div>
</div>

<div class="row">
    <table id="tableData" class="table table-hover" width="100%">
        <thead>
            <tr class="table-dark">
                <th scope="col">Title</th>
                <th scope="col">ISBN</th>
                <th scope="col">Author</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Inserted by DataTables -->
        </tbody>
    </table>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the product "<span class="text-danger" id="productName"></span>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}
