@using BulkyBook.Utility;

@{
    ViewData["Title"] = "Orders";
}

@section Notifications {
    <partial name="_AlertPartial"></partial>
}

<div class="row pb-3">
    <div class="col-6 d-flex align-items-center">
        <h3>Order list</h3>
    </div>
</div>

<div class="row">
    <div class="d-flex justify-content-between pb-5 pt-2">
        <ul class="list-group list-group-horizontal-sm">
            <a style="text-decoration:none;cursor: pointer;" id="filter-inprocess" data-status="@StaticData.StatusInProcess">
                <li class="list-group-item">In Process</li>
            </a>
            <a style="text-decoration:none;cursor: pointer;" id="filter-paymentpending" data-status="@StaticData.PaymentStatusDelayedPayment">
                <li class="list-group-item">Payment Pending</li>
            </a>
            <a style="text-decoration:none;cursor: pointer;" id="filter-completed" data-status="@StaticData.StatusCompleted">
                <li class="list-group-item">Completed</li>
            </a>
            <a style="text-decoration:none;cursor: pointer;" id="filter-approved" data-status="@StaticData.StatusApproved">
                <li class="list-group-item">Approved</li>
            </a>
            <a style="text-decoration:none;cursor: pointer;" id="filter-all" data-status="All">
                <li class="list-group-item active text-white bg-dark">All</li>
            </a>
        </ul>
        </div>
    <table id="tableData" class="table table-hover" width="100%">
        <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Inserted by DataTables -->
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/order.js"></script>
}
