<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Sorry, the payment was not completed successfully.</h1>
        <a asp-action="Summary" asp-controller="Cart">Please try again</a> <br /><br />
        <img  src="~/images/PaymentIssue.png" width="65%" />
    </div>
</div> 