@model IEnumerable<Company>

@{
    ViewData["Title"] = "Companies";
}

@section Notifications {
    <partial name="_AlertPartial"></partial>
}

<div class="row pb-3">
    <div class="col-6 d-flex align-items-center">
        <h3>All Companies</h3>
    </div>

    <div class="col-6 text-end">
        <a asp-controller="Company" asp-action="UpSert" class="btn btn-dark"><i class="bi bi-plus-circle"></i> Create New Company</a>
    </div>
</div>

<div class="row">
    <table id="tableData" class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th class="col-4" scope="col">Name</th>
                <th class="col-4" scope="col">StreetAddress</th>
                <th class="col-4" scope="col">City</th>
                <th class="col-4" scope="col">State</th>
                <th class="col-4" scope="col">PostalCode</th>
                <th class="col-4" scope="col">PhoneNumber</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Inserted by DataTables -->
        </tbody>
    </table>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the company "<span class="text-danger" id="companyName"></span>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/company.js"></script>
}
