@model Company

@{
    ViewData["Title"] = Model.Id == 0 ? "Create" : "Edit";
}

<h3>
    @if (Model.Id == 0)
    {
        @:Create New Company
    }
    else
    {
        @:Edit
        <span class="text-warning">@Model.Name</span>
        @:Company
    }
</h3>
<hr />
<div class="row">
    <div>
        <form asp-action="UpSert">
            <div asp-validation-summary="None" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group pb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="row pt-3">
                <div class="col-6 d-flex align-items-center">
                    @if(Model.Id == 0)
                    {
                        <input type="submit" value="Create" class="btn btn-dark form-control" />
                    }
                    else
                    {
                        <input type="submit" value="Update" class="btn btn-dark form-control" />
                    }
                </div>
                <div class="col-6">
                    <a asp-controller="Company" asp-action="Index" class="btn btn-outline-dark form-control"><i class="bi bi-arrow-left-circle-fill"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
